<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31793022175-dpo0ggqsnk4qpv9s2t72q5g27e6itshi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31793022175-dpo0ggqsnk4qpv9s2t72q5g27e6itshi</string>
	<key>API_KEY</key>
	<string>AIzaSyBIpt3J1R5QfQASO7twsJqz57UIxJebtno</string>
	<key>GCM_SENDER_ID</key>
	<string>31793022175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.self.developer.sonali.FlashChatFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>flashchatflutterapp</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatflutterapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31793022175:ios:8fe057ee9c2af82646556a</string>
</dict>
</plist>